/* Buton Bileşeni */
.button {
    @include vendor('appearance', 'none');
    @include vendor('transition', (
        'background-color #{_duration(transition)} ease',
        'color #{_duration(transition)} ease',
        'filter 0.3s ease',
        'transform 0.2s ease'
    ));
    background-color: transparent;
    border: solid 1px _palette('border');
    border-radius: _size(border-radius);
    color: _palette('fg-bold') !important;
    cursor: pointer;
    display: inline-block;
    font-size: 0.6em;
    font-weight: _font(weight-bold);
    letter-spacing: _font(kerning-alt);
    line-height: _size(element-height);
    height: _size(element-height);
    padding: 0 2.5em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;

    &:hover {
        background-color: rgba(0, 0, 0, 0.02);
        color: _palette('accent1') !important;
    }

    // Ana işlem butonu (Form gönderimi vb.)
    &.primary,
    &.submit {
        background-image: linear-gradient(to right, _palette('accent1-alt'), _palette('accent1'));
        border: none;
        color: #fff !important;

        &:hover {
            filter: brightness(1.1);
            transform: scale(1.05);
        }
    }

    &.small {
        font-size: 0.5em;
        line-height: 2.5em;
        height: 2.5em;
        padding: 0 1.5em;
    }

    &.large {
        font-size: 0.8em;
        line-height: 3.25em;
        height: 3.25em;
        padding: 0 3em;
    }

    &.disabled,
    &:disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}