/* Öne Çıkanlar (Spotlights) Bileşeni */
.spotlights {
    > section {
        display: flex;
        flex-direction: row;
        min-height: 22.5em;

        > .image {
            background-position: center center;
            background-size: cover;
            border-radius: 12px 0 0 12px;
            display: block;
            position: relative;
            width: 25em;
            overflow: hidden;

            img {
                border-radius: 0;
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        > .content {
            @include padding(4em, 5em);
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: #{_size(inner-width) - 25em};
            text-align: left !important; // Sola hizalama
            align-items: flex-start !important;

            > .inner {
                max-width: 45em; // Giriş metni ile aynı genişlik
                margin: 0 !important;
                transition: opacity #{_duration(activation)} ease, transform #{_duration(activation)} ease;
            }
        }

        // Arka plan varyasyonları
        &:nth-child(even) {
            background-color: rgba(241, 245, 249, 0.5);
            flex-direction: row-reverse; // Bir ters bir düz dizilim

            > .image {
                border-radius: 0 12px 12px 0;
            }
        }
    }

    // Mobil Görünüm
    @include breakpoint('<=medium') {
        > section {
            display: block;

            > .image {
                width: 100%;
                height: 50vh;
                border-radius: 12px 12px 0 0;
            }

            > .content {
                width: 100%;
                @include padding(3em, 2em);
            }

            &:nth-child(even) {
                flex-direction: column;
                > .image {
                    border-radius: 12px 12px 0 0;
                }
            }
        }
    }
}

