/* Yan Menü (Sidebar) */
#sidebar {
    @include padding(2.5em, 2.5em);
    background: rgba(255, 255, 255, 0.8) !important;
    backdrop-filter: blur(20px); // Cam efekti
    border-right: solid 1px _palette('border');
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.02);
    cursor: default;
    height: 100vh;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    text-align: right;
    top: 0;
    width: 12em !important;
    z-index: _misc(z-index-base);

    > .inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100%;
        opacity: 1;
        width: 100%;
        transition: opacity #{_duration(activation)} ease;
    }

    nav {
        > ul {
            list-style: none;
            padding: 0;

            > li {
                margin: 1.5em 0 0 0;
                padding: 0;
                position: relative;
                transition: opacity 0.2s ease, transform 0.2s ease;

                &:first-child {
                    margin: 0;
                }
            }
        }

        a {
            transition: color #{_duration(transition)} ease, letter-spacing 0.3s ease;
            border: 0;
            color: _palette(fg) !important;
            display: block;
            font-size: 0.7em !important;
            font-weight: _font(weight-bold);
            letter-spacing: 0.15em !important;
            line-height: 1.75;
            outline: 0;
            padding: 1.35em 0;
            position: relative;
            text-decoration: none;
            text-transform: uppercase;

            &:hover {
                color: _palette(accent1) !important;
                letter-spacing: 0.2em !important;
            }

            &.active {
                color: _palette(fg-bold);
                &:after {
                    max-width: 100%;
                }
            }

            &:after {
                @include vendor('background-image', 'linear-gradient(to right, #{_palette(accent1)}, #{_palette(accent3)})');
                transition: max-width #{_duration(transition)} ease;
                border-radius: 0.2em;
                bottom: 0;
                content: '';
                height: 0.2em;
                position: absolute;
                right: 0;
                width: 100%;
                max-width: 0;
            }
        }
    }

    // Mobil Görünüm (Üst Menü)
    @include breakpoint('<=large') {
        height: _size(sidebar-height);
        width: 100% !important;
        text-align: center;
        line-height: _size(sidebar-height);
        padding: 0;

        &+#wrapper,
        &+#wrapper+#footer {
            margin-left: 0 !important;
        }

        > .inner {
            flex-direction: row;
            align-items: stretch;
        }

        nav {
            ul {
                display: flex;
                margin: 0;
                li {
                    margin: 0 0 0 2em;
                }
            }
            a {
                padding: 0;
                &:after {
                    background-image: none;
                    background-color: _palette(accent3);
                }
            }
        }
    }

    @include breakpoint('<=small') {
        display: none; // Küçük ekranlarda gizle
    }
}